@page "/evidence"

<PageTitle>Evidence</PageTitle>

<h2>Evidence</h2>

<div class="p-2 border">
    <label>Datum: <input type="date" @bind-value=Polozka.Datum /> </label>
    <label>Náklady: <input type="number" @bind-value=Polozka.Naklady /> </label>
    <label>Výnosy: <InputNumber @bind-Value=Polozka.Vynosy /> </label>
    <button @onclick="Pridat" >Přidat</button>
</div>

<div class="p-2 border">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Náklady</th>
                <th>Výnosy</th>
                <th>Zisk/Ztráta</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in PolozkyList)
            {
                <tr>
                    <td>@item.Datum</td>
                    <td>@item.Naklady</td>
                    <td>@item.Vynosy</td>
                    <td>@item.Zisk</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@code {

}
